<link rel="stylesheet" href="/tasks.css" />
<% navs.forEach(nav => { %>
<!-- <li>
  <a href="/create_task"><%= nav %></a>

  <% }); %>
</li> -->
<%-include("../partials/header.ejs")-%>
<form action="/task/create " method="post">
  <label for="task_name"> ADD A NEW TASK</label>
  <input type="text" name="task_name" />
  <button type="submit" class="submit">SUBMIT</button>
</form>
