<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include("../partials/header.ejs")-%>

    <div class="shiity">
      <h1>Welcome to TaskTracker</h1>
      <h5>Your personal task management solution</h5>
      <h5>
        Stay organized, boost your productivity, and manage tasks with ease.
      </h5>
      <h5>Create, track, complete, and delete tasks effortlessly.</h5>

      <a href="/signup" class="button-link">GET STARTED</a>
    </div>
  </body>
</html>
