<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include("../partials/header.ejs")-%>

    <div class="shiity">
      <h1>Get that shit task done!!</h1>
      <a href="/signup" class="button-link">GET STARTED</a>
    </div>
  </body>
</html>
