.shiity {
  width: 40%;
  margin: 0 40%;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 45%;
}

.button-link:hover {
  background-color: #0056b3;
}
